<h3>商品一覧画面</h3>
<div class="container-fluid row align-items-center">
  <%= link_to new_admin_item_path do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>

  <table class="table col-lg">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><% item.id %></td>
          <td><% item.name %></td>
          <td><% item.genre.name %></td>
          <td><% item.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>