<div class="container">
  <h3>会員一覧画面</h3>
  <table class="table">
    <thead>
      <tr>
        <td>会員ID</td>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.family_name %><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.deleted? %>
              退会済み
            <% else %>
              有効
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
